body {
  padding: 50px;
  background-color: gainsboro;
  margin: 0;
  font-family: sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas;
}




#container {
  display: flex;
  justify-content: center;
 }
